<div gdAreas="Header Header | Side Content | Footer Footer" gdGap="16px" gdRows="auto auto auto" gdAreas.lt-md="Header | Side | Content | Footer"
  gdRows.lt-md="auto auto auto auto">
  <mat-card>
    <div id="contact-us">Contact Us</div>
    <hr>
    <table>
      <tr>
        <th>Name</th>
        <th>Email ID</th>
        <th>Contact Number</th>
      </tr>
      <tr>
        <td>P&C Platform Team</td>
        <td>Pnc.PlatformProjectTeam@ril.com</td>
        <td>NA</td>
      </tr>
      <tr>
        <td>RIL Data Lake Support Team</td>
        <td>RIL.DatalakeSupport@ril.com</td>
        <td>NA</td>
      </tr>
      <!-- <tr>
        <td>Madhura B Joshi </td>
        <td>madhura.b.joshi@ril.com </td>
        <td>43172</td>
      </tr> -->
      <tr>
        <td>Rahul Nayak </td>
        <td>rahul.nayak@ril.com </td>
        <td>83879</td>
      </tr>

    </table>


  </mat-card>
</div>